.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.important {
  color: red;
}
.notimportant {
  color: white;
}
.notesBG {
  background-color: black;
  color: white;
}
